* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: #282828;
  color: #c0c0c0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
