* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

html,
body,
#react-typer {
  margin: 0;
  height: 100%;
  align-items: center;
}

#react-typer > nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#race > main {
  margin: 0;
  height: 50%;
  align-items: center;
}

body {
  background: linear-gradient(to right, #000, rgb(55, 56, 56), #696969);
  color: #c0c0c0;
}

main {
  top: 30%;
  flex: 1;
}

#single-race {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main#single-race > div {
  font-size: 25px;
}

#start-button {
  background-color: green;
  border-color: green;
  cursor: pointer;
}

#race-paragraph {
  border-style: solid;
  border-radius: 15px;
  border-color: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100px;
  font-size: 25px;
  width: 50rem;
  overflow: hidden;
}

span {
  margin: 10px;
  flex-grow: 1;
}

#current-word {
  background-color: rgb(124, 14, 14);
  color: white;
}

#start-text {
  font-style: italic;
}

#start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#currently-typed {
  width: 25rem;
}

.race-ending {
  color: red;
}

#race-stats {
  display: flex;
  flex-direction: row;
  width: 20rem;
  border-style: solid;
  border-radius: 15px;
  border-color: purple;
  padding: 2rem;
}

#race-stats > div {
  justify-content: space-around;
  flex-direction: column;
}

#stats {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: space-around;
  top: 0%;
  z-index: 1;
  border-radius: 50px;
  font-size: 30px;
}

.inactive {
  text-decoration: none;
  color: white;
}

.active {
  text-decoration: none;
  color: orange;
}

#wrong-words {
  width: 20rem;
  border-style: solid;
  border-radius: 15px;
  border-color: red;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.wrong-word {
  color: red;
}

#race-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

#result-types {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.race-result-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.race-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
}

#sprintrace {
  display: flex;
  justify-content: center;
}

#sprint-race-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #333333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: silver;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}

.userDropdown:hover {
  cursor: pointer;
}

.userDropdown:hover .userDropdown-content {
  display: block;
}

.userDropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #333333;
}

.userDropdown-content a {
  display: block;
  color: silver;
  text-decoration: none;
}

.userDropdown-content a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}

#logins {
  display: flex;
  justify-content: center;
}

#loginForm {
  display: flex;
  flex-direction: column;
  border-style: groove;
  width: 250px;
  align-items: center;
  background: linear-gradient(to left, #000, rgb(55, 56, 56), #696969);
}

#signups {
  display: flex;
  justify-content: center;
}

#signupForm {
  display: flex;
  flex-direction: column;
  border-style: groove;
  width: 250px;
  align-items: center;
  background: linear-gradient(to left, #000, rgb(55, 56, 56), #696969);
}

form div {
  margin: 1em;
  display: inline-block;
}
